In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
email_opened_table=pd.read_csv("email_opened_table.csv")
email_table=pd.read_csv("email_table.csv")
link_click_table=pd.read_csv("link_clicked_table.csv")

In [4]:
email_table.head()

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,85120,short_email,personalized,2,Sunday,US,5
1,966622,long_email,personalized,12,Sunday,UK,2
2,777221,long_email,personalized,11,Wednesday,US,2
3,493711,short_email,generic,6,Monday,UK,1
4,106887,long_email,generic,14,Monday,US,6

In [8]:
email_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
email_id               100000 non-null int64
email_text             100000 non-null object
email_version          100000 non-null object
hour                   100000 non-null int64
weekday                100000 non-null object
user_country           100000 non-null object
user_past_purchases    100000 non-null int64
dtypes: int64(3), object(4)
memory usage: 5.3+ MB

In [5]:
email_opened_table.head()

   email_id
0    284534
1    609056
2    220820
3    905936
4    164034

In [9]:
email_opened_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10345 entries, 0 to 10344
Data columns (total 1 columns):
email_id    10345 non-null int64
dtypes: int64(1)
memory usage: 80.9 KB

In [7]:
link_click_table.head()

   email_id
0    609056
1    870980
2    935124
3    158501
4    177561

In [10]:
link_click_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2119 entries, 0 to 2118
Data columns (total 1 columns):
email_id    2119 non-null int64
dtypes: int64(1)
memory usage: 16.6 KB

Question1:What % of users opened email and what % clicked on the link within email

In [19]:
#%of users opened email
per_email_open=email_opened_table.shape[0]/email_table.shape[0]
str(per_email_open*100) + "%" +" "+ "opened email"

'10.345% opened email'

In [24]:
#%of users opened link within email
per_link_open=link_click_table.shape[0]/email_table.shape[0]
str(per_link_open*100) + "%" +" "+ "opened link within email"

'2.119% opened link within email'

In [30]:
email_opened_table['opened']='1'

In [31]:
email_opened_table.head()

   email_id opened
0    284534      1
1    609056      1
2    220820      1
3    905936      1
4    164034      1

In [32]:
email_table= pd.merge(email_table, email_opened_table, on='email_id', how='left')

In [33]:
email_table.head()

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases,opened
0,85120,short_email,personalized,2,Sunday,US,5,NaN
1,966622,long_email,personalized,12,Sunday,UK,2,1
2,777221,long_email,personalized,11,Wednesday,US,2,NaN
3,493711,short_email,generic,6,Monday,UK,1,NaN
4,106887,long_email,generic,14,Monday,US,6,NaN

In [34]:
email_table['opened']=email_table['opened'].fillna(0)

In [35]:
email_table.head()

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases,opened
0,85120,short_email,personalized,2,Sunday,US,5,0
1,966622,long_email,personalized,12,Sunday,UK,2,1
2,777221,long_email,personalized,11,Wednesday,US,2,0
3,493711,short_email,generic,6,Monday,UK,1,0
4,106887,long_email,generic,14,Monday,US,6,0